html, body, #container
{
    margin: 0;
    padding: 0;

    background-color: #333333;

    color: #ffffff;
}

#container
{
    width:80%;
    margin-top: 3%;

    margin-left: auto;
    margin-right: auto;

    background-color: #262626;

    /*border: 5px solid #1a1a1a;

    border-top: 5px solid #1a1a1a;
    border-right: 5px solid #1a1a1a;
    border-bottom: 5px solid #1a1a1a;*/
}


